body {
  background-image:url(../images/makeAppt.jpg);
  background-size: cover;
  background-attachment:fixed;
  background-color:#508ec7;
}
.container {
  margin:auto;
  width:80%;
  background-color: #eeeeee;
  padding:25px;
  border-radius: 5px;
  margin-bottom: 10px;

}

h2 {
  text-align: center
}

label{
  padding-bottom: 5px;
}

#fname, #lname, #email{
  left:18%;
  width:20%;
}
#day{
  width: 10%;
}

.submit{
  width: initial;
  position: initial;
}
